@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 224 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 10% 4%;
    --primary: 224 50% 51%;
    --primary-foreground: 224 50% 95%;
    --secondary: 224 5% 91%;
    --secondary-foreground: 224 5% 10%;
    --muted: 224 5% 91%;
    --muted-foreground: 224 30% 45%;
    --accent: 224 30% 81%;
    --accent-foreground: 224 30% 10%;
    --destructive: 357.18 100% 45%;
    --destructive-foreground: 224 50% 95%;
    --border: 224 5% 81%;
    --input: 224 5% 81%;
    --ring: 224 50% 51%;
    --radius: 0.5rem;
    --chart-1: 224 50% 51%;
    --chart-2: 224 35% 66%;
    --chart-3: 224 20% 76%;
    --chart-4: 224 60% 36%;
    --chart-5: 224 55% 26%;
    --sidebar-background: 224 5% 91%;
    --sidebar-foreground: 224 5% 10%;
    --sidebar-primary: 224 50% 51%;
    --sidebar-primary-foreground: 224 50% 95%;
    --sidebar-accent: 224 30% 81%;
    --sidebar-accent-foreground: 224 30% 10%;
    --sidebar-border: 224 5% 81%;
    --sidebar-ring: 224 50% 51%;
  }

  .dark {
    --background: 226 48% 5%;
    --foreground: 50 10% 95%;
    --card: 226 48% 9%;
    --card-foreground: 50 10% 95%;
    --popover: 226 48% 9%;
    --popover-foreground: 50 10% 95%;
    --primary: 50 31% 40%;
    --primary-foreground: 50 31% 95%;
    --secondary: 45 8% 21%;
    --secondary-foreground: 45 8% 95%;
    --muted: 45 8% 21%;
    --muted-foreground: 45 15% 65%;
    --accent: 64 84% 10%;
    --accent-foreground: 64 10% 95%;
    --destructive: 0 70% 45%;
    --destructive-foreground: 50 31% 95%;
    --border: 226 30% 15%;
    --input: 226 30% 15%;
    --ring: 50 31% 40%;
    --sidebar-background: 226 48% 17%;
    --sidebar-foreground: 50 10% 95%;
    --sidebar-primary: 50 31% 40%;
    --sidebar-primary-foreground: 50 31% 95%;
    --sidebar-accent: 64 84% 10%;
    --sidebar-accent-foreground: 64 10% 95%;
    --sidebar-border: 226 30% 15%;
    --sidebar-ring: 50 31% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,

.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}